<h1>Hair Salon Hub</h1>

<div class="h3_container">
<h3>See our list of clients:</h3>
<ul>
  <li><a href="/clients">Click here!</a></li>
</ul>

<h3>See our list of stylists:</h3>
<ul>
  <li><a href="/stylists">Click here!</a></li>
</ul>
</div>
