<h1>Welcome to Hair Salon!</h1>
<h2>This website stores information about clients and stylists.</h2>

<p><a href="/clients">Add a new client</a></p>
<p><a href="/stylists">Add a new stylist</a></p>


<h3>Here are all the clients in this database:</h3>

<% if @clients.any?() %>
  <p>Click on a client to see information about them and mark which stylists they have visited:</p>

  <ul>
    <% @clients.each do |client| %>
      <li><a href="/clients/<%= client.id() %>"><%= client.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no clients added yet!</p>
<% end %>


<h3>Here are all the stylists in this database:</h3>

<% if @stylists.any?() %>
  <p>Click on a stylist to see information about it and mark which clients they have worked with:</p>

  <ul>
    <% @stylists.each do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists added yet!</p>
<% end %>
